.community-header{
    position: relative;
    font-size: 1.6rem;
    width: 100%;
}

.community-header .background-image img{
    display: block;
    width: 100%;
    height: 12rem;
    border-radius: 12px;
}

.community-header .community-header-section{
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.community-header-section .community-header-section-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1 1 0%;
}

.community-header-section .community-header-section-wrapper .community-icon{
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.community-icon .community-icon-image{
    width: 88px;
    height: 88px;
    flex-shrink: 0;
}

.community-icon-image img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 1px solid grey;
}

.community-header-buttons{
    display: flex;
    gap: 20px;
    align-items: center;
}

.community-header-buttons .create-post{
    display: flex;
    gap: 10px;
}

.community-header-buttons > div{
    font-weight: bolder;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

