.about-community-step, .community-visibility-step, .community-details-step{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 768px;
    background-color: rgb(236, 210, 210);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    border: none;
    border-radius: 25px;
}

.about-community-step .heading span,
.community-visibility-step .heading span,
.community-details-step .heading span{
    font: bolder;
    font-size: 2.2rem;
}

.about-community-step .heading p,
.community-visibility-step .heading p,
.community-details-step .heading p{
    color: rgba(18, 15, 15, 0.192);
}

.about-community-step .community-category{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.about-community-step .community-category .category{
    font-size: 1.6rem;
    padding: 10px;
    background-color: lightgrey;
    cursor: pointer;
    border: none;
    border-radius: 16px;
}

.about-community-step .action-buttons,
.community-visibility-step .action-buttons,
.community-details-step .action-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 40px;
}

.about-community-step .action-buttons .cancel-button{
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.about-community-step .action-buttons .next-button{
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
}

.community-visibility-step .visibility-selection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid grey;
}

.community-visibility-step .visibility-selection .public-visibility,
.community-visibility-step .visibility-selection .restricted-visibility,
.community-visibility-step .visibility-selection .private-visibility{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.community-visibility-step .visibility-selection .public-visibility > div,
.community-visibility-step .visibility-selection .restricted-visibility > div,
.community-visibility-step .visibility-selection .private-visibility > div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.community-visibility-step .nsfw-selection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.community-visibility-step .nsfw-selection .nsfw-type{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.community-visibility-step .nsfw-selection .nsfw-type > div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.community-visibility-step .action-buttons .previous-button{
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.community-visibility-step .action-buttons .next-button{
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
}

.community-details-step .community-details{
    display: flex;
    justify-content: space-between;
}

.community-details-step .community-details .name-description{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.community-details-step input{
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(237, 232, 232);
}

.community-details-step textarea{
    height: 100px;
    border: none;
    border-radius: 30px;
    background-color: rgb(237, 232, 232);
    padding-left: 20px;
}

.community-details-step .community-details .display-card{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.community-details-step .community-details .display-card .empty-space{
    height: 50px;
    background-color: rgb(129, 128, 128);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.community-details-step .community-details .display-card .display-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.community-details-step .community-details .display-card .display-details .display-name{
    font-size: 2.5rem;
    display: flex;
    gap: 10px;
    padding-top: 20px;
}

.community-details-step .action-buttons .previous-button{
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.community-details-step .action-buttons .submit-button{
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
}