.create-post-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create-post-container .main-content{
    display: flex;
}

.create-post-container .sub-content{
    width: 100%;
    display: flex;
    margin: 20px;
}

.create-post-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.create-post-section .create-post-desc{
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-post-section .create-post-desc p{
    font-size: 1.8rem;
}

.create-post-section .community-selection select,
.create-post-section .add-flair-and-tag select{
    background-color: lightgrey;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
}

.create-post-section .post-title,
.create-post-section .post-body{
    width: 100%;
}

.create-post-section .post-title input,
.create-post-section .post-body textarea{
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: 1px solid grey;
    padding: 0px 20px;
}

.create-post-section .post-body textarea{
    height: 120px;
}

.create-post-section .action-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 30px;
}

.create-post-section .action-buttons button{
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
}