.login-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page{
    font-size: 2rem;
    background-color: antiquewhite;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 700px;
    width: 90%;
    margin: auto;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-field{
    display: flex;
    flex-direction: column;
}

.btn-primary{
    width: fit-content;
    font-size: 1.8rem;
    padding: 5px 8px;
    background-color: orangered;
    border: none;
    border-radius: 3px;
    color: white;
    margin-left: auto;
}