.sidebar{
    height: 100vh;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 300px;
    border-right: 1px solid lightgrey;
    overflow: auto;
    scrollbar-width: none;
}

.sidebar .post-options, 
.sidebar .moderator-options,
.sidebar .resources,
.sidebar .rules{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid lightgrey;
}

.post-options > div, 
.moderator-options > div,
.resources > div,
.rules > div{
    display: flex;
    padding: 10px;
    gap: 10px;
}

.post-options > div:hover, 
.moderator-options > div:hover,
.resources > div:hover,
.rules > div:hover{
    background-color: rgba(211, 211, 211, 0.911);
    border: none;
    border-radius: 10px;
}