*,
*::after,
*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    overflow: hidden;
}

input{
    font-size: 16px;
    padding: 5px;
}

.required-field{
    color: red;
}

.bi-reddit{
    color: orangered;
}