@import "tailwindcss";

@layer base {
  html {
    font-size: 10px;
  }

  body {
    overflow: hidden;
  }

  input {
    font-size: 16px;
  }

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }

  .bi-reddit {
    color: orangered;
  }
}
